# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Plugin ZIP builds
#*.zip

# VSCodium / VSCode settings
.vscode/*
!.vscode/tasks.json

# OS-specific files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
.env/

# Logs and temp files
*.log
*.tmp
*.bak

# Calibre debug output
calibre-debug.log
